{if gallery}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form class="form" style="margin-bottom: 30px;">
            <input id="image-search" type="search" class="form-control" placeholder="Filter images...">
        </form>
    </div>
</div>

<div class="row">
    {loop files}

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 image-thumb" data-title="{@item.title}">
        <div class="box {if item.is_new}box-warning{/if}{ifnot item.is_new}box-default{/ifnot}">
            <a href="{@adminUri}/media/edit/{@scope}/{@item.id}">
                <img src="/media/render/{@item.id}/800/600" class="img-responsive" style="width: 100%; max-height: 400px">
            </a>

            <div class="box-footer {if item.is_new}bg-yellow-gradient{/if}">
                {@item.title}
            </div>
        </div>

    </div>

    <!-- div class="col-lg-2">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title" style="min-height: 65px; max-height: 65px;">{@item.title}</h3>
            </div>

            <div class="box-body no-padding">
                <a href="{@adminUri}/media/edit/{@scope}/{@item.id}"><img src="/media/render/{@item.id}/200/200" class="img-responsive"></a>
            </div>
        </div>
    </div -->

    {/loop}
</div>

<script>

    $(document).ready(function () {
        var thumbs = [];

        $('.image-thumb').each(function () {
            thumbs.push({title: $(this).data('title'), el: $(this)});
        });

        $('#image-search').on('keyup', function (e) {
            var keyword = $(this).val();

            for (var i in thumbs) {
                console.log(keyword + ': ' + thumbs[i].title + ' --- ' + (thumbs[i].title.indexOf(keyword) !== false ? 'PRESENT' : 'MISSING'));

                if (thumbs[i].title.indexOf(keyword) !== -1) {
                    thumbs[i].el.show();
                } else {
                    thumbs[i].el.hide();
                }
            }
        });
    });

</script>
{/if}

{ifnot gallery}
<div class="row">
    <div class="col-lg-12">
    <div class="box box-primary">
        <div class="box-body no-padding">
            <table class="table table-striped" id="table-items">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Filename</th>
                    <th>Uploaded By</th>
                    <th>Uploaded On</th>
                    {if reorder}<th width="2%"></th>{/if}
                    <th width="10%">Actions</th>
                </tr>
                </thead>
                <tbody>
                {loop files}
                <tr class="table-item" data-id="{@item.id}">
                    {if thumbnail}
                    <td align="center"><img src="/media/render/{@item.id}/100/100"></td>
                    <td><strong>Title:</strong> {@item.title}<br /><strong>Filename: </strong><a href="{@item.url}">{@item.filename}</a></td>
                    {/if}
                    {ifnot thumbnail}
                    <td>{@item.title}</td>
                    <td><a href="{@item.url}">{@item.filename}</a></td>
                    {/ifnot}
                    <td>{@item.User.name}</td>
                    <td>{date_format date: item.created_date}</td>
                    {if reorder}<td><i class="fa fa-fw fa-arrows handler"></i></td>{/if}
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="{@adminUri}/media/edit/{@scope}/{@item.id}{@queryStringAppend}">Edit</a>
                            <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{@adminUri}/media/edit/{@scope}/{@item.id}{@queryStringAppend}">Edit</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{@adminUri}/media/delete/{@scope}/{@item.id}{@queryStringAppend}" class="btn-delete">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {/loop}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>

<script>
$(document).ready(function(e) {
    $('#table-items tbody').sortable({
        handle: '.handler',
        axis: 'y',
        items: '> tr',
        helper: fixHelper,
        update: function () {
            var position = 0;
            var items = {};

            $('.table-item').each(function () {
                var id = $(this).data('id');
                items[id] = position++;
            });

            savePositions(items);
        }
    });
});


function savePositions(items)
{
    $('.pace').removeClass('hide');

    $.post('{@reorderSaveUrl}', {positions: items}, function () {
        $('.pace').addClass('hide');
    });
}

var fixHelper = function(e, ui) {
    ui.children().each(function() {
        $(this).width($(this).width());
    });
    return ui;
};
</script>
{/if}
