<div id="{@id}" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol if="hasControls" class="carousel-indicators">
        <li repeat="images" data-target="#{@id}" data-slide-to="{@key}"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div repeat="images" as="item" .class="(item.id == firstImageId) item active ? item">
            <img src="/media/render/{@item.id}/{@imageWidth}/auto/png" alt="{@item.title}">

            <div if="hasCaptions" class="carousel-caption">
                {@item.title}
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a if="hasControls" class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a if="hasControls" class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>